<!--
  Generated template for the EditparentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar text-center>ผู้ปกครอง
    <ion-buttons large left>
      <button ion-button style="max-width: 30px;"  (click)="pop()"><ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item text-center>
          <ion-label color="pink2">แก้ไขข้อมูลผู้ปกครอง</ion-label>
          <ion-toggle [(ngModel)]="editparent" disabled="false" color="primary" ></ion-toggle>
      </ion-item>

      <ion-grid *ngIf="editparent==false">

        <p>บัญชีผู้ใช้: </p><b> {{parent[0].par_user}}</b>
        <br>

        <p>รหัสผ่าน: </p><b> {{parent[0].par_password}}</b>
        <br>
        <p>ผู้ปกครอง: </p>
        <b>{{parent[0].par_title}}{{parent[0].par_name}} {{parent[0].par_sname}}</b>
        <br>
        <p>เบอร์โทร: </p><b> {{parent[0].par_tel}}</b>
        <br>
        <p>ที่อยู่: </p><b> {{ parent[0].par_address}}</b>
        <!-- <ion-row>
          <ion-col >
            <ion-item >
              <ion-label floating>บัญชีผู้ใช้</ion-label>
              <ion-input type="text" [(ngModel)]="parent[0].par_user" value="{{parent[0].par_user}}" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item >
          <ion-label floating>ชื่อผู้ปกครอง</ion-label>
          <ion-input type="text"  value="{{title2}} {{parent[0].par_name}} {{parent[0].par_sname}}" disabled></ion-input>
        </ion-item>
        <ion-item >
          <ion-label floating>เบอร์โทร</ion-label>
          <ion-input type="text"  value=" {{parent[0].par_tel}}" disabled></ion-input>
        </ion-item>
        <ion-item >
          <ion-label floating>ที่อยู่</ion-label>
          <ion-input type="text"  value=" {{parent[0].par_address}}" disabled></ion-input>
        </ion-item> -->



      </ion-grid>

      <!--false-->

      <ion-grid *ngIf="editparent==true">

        <ion-row>
          <ion-col >
            <ion-item >
              <ion-label floating>บัญชีผู้ใช้</ion-label>
              <ion-input type="text" [(ngModel)]="parent[0].par_user" value="{{parent[0].par_user}}" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-item style="margin-top: 10px;">
              <ion-label>คำนำหน้า</ion-label>
              <ion-select [(ngModel)]="parent[0].par_title">
                <ion-option *ngFor="let title of title2" value="{{title}}">{{title}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
           <ion-col>
              <ion-item >
                <ion-label floating>ชื่อผู้ปกครอง</ion-label>
                <ion-input type="text" [(ngModel)]="parent[0].par_name" value="{{parent[0].par_name}}" ></ion-input>
              </ion-item>
           </ion-col>
           <ion-col>
              <ion-item >
                <ion-label floating>นามสกุล</ion-label>
                <ion-input type="text" [(ngModel)]="parent[0].par_sname" value="{{parent[0].par_sname}}" ></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>

        <ion-row>
           <ion-col>
              <ion-item >
                <ion-label floating>โทรศัพท์</ion-label>
                <ion-input type="text" [(ngModel)]="parent[0].par_tel" value="{{parent[0].par_tel}}" ></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
             <ion-item >
               <ion-label floating>ที่อยู๋</ion-label>
               <ion-input type="text" [(ngModel)]="parent[0].par_address" value="{{parent[0].par_address}}" ></ion-input>
             </ion-item>
          </ion-col>
       </ion-row>

        <button ion-button *ngIf="editparent==true" (click)="editAccountparent()" block color="pink2">ยืนยันการแก้ไข</button>
      </ion-grid>



    </ion-card-content>
  </ion-card>

</ion-content>
