<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>จัดการข้อมูลรายวัน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>


  <ion-item >
    <ion-label >วันที่ {{ck_date2}} </ion-label>
    <!-- <ion-input type="text" [(ngModel)]="ck_date" value="{{nbYear}}-{{nbMonth}}-{{nbDate}}" disabled></ion-input> -->
  </ion-item>
  <ion-buttons >
    <button ion-button block ><ion-icon name="list"> ประวัติการเช็คชื่อ</ion-icon></button>
  </ion-buttons>
</div>

    <p text-center><b>รายชื่อนักเรียน</b></p>
    <ion-card *ngFor="let data of setting" (click)="editstatus(data)" >
      <ion-card-content >
        <ion-item >
        <ion-icon item-right color="medium" name="create"></ion-icon>
        <p>นักเรียน: <b>{{data.student_name}} {{data.student_sname}}</b> ชื่อเล่น: <b>น้อง{{data.student_nickname}}</b>  </p>
        <p>ผู้ปกครอง: <b>{{data.par_name}} {{data.par_sname}}</b></p>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-list >
    <ion-item *ngFor="let item of setting; let i = index ">
      <ion-label>
      {{item.student_name}} {{item.student_sname}} ชื่อเล่น: {{item.student_nickname}}
    </ion-label>
      <ion-checkbox [(ngModel)]="myBooolean[i]" (click)="onMyBooleanChange(item,myBooolean)" checked="myBooolean[i]"  >สถานะมาเรียน</ion-checkbox>
       <!-- <ion-toggle [(ngModel)]="item.editstudent" disabled="false" color="primary" (click)="test(item)" ></ion-toggle> -->
    </ion-item>
  </ion-list>



  <!-- <ion-label text-center>รายชื่อนักเรียน</ion-label> -->
  <!-- <ion-card *ngFor="let item of setting">
    <ion-list>

          <ion-label style="margin-left: 10px;">
            {{item.student_name}} {{item.student_sname}} ชื่อเล่น: {{item.student_nickname}}
            <ion-row>
              <ion-col>
              <ion-item>
                <ion-label>สถานะมาเรียน</ion-label>
                <ion-checkbox [(ngModel)]="ck_status">สถานะมาเรียน</ion-checkbox>
                < <ion-checkbox slot="end" checked="ck_status" (click)="addck(item,ck_status,ck_date2)" checked="ck_status"></ion-checkbox> -->
                <!-- <ion-checkbox slot="end" [(ngModel)]="ck_status"  checked="ck_status"></ion-checkbox> -->
              <!-- </ion-item>
            </ion-col>
              <ion-col>
              <ion-item>
                <ion-label>สถานะการรับ</ion-label> -->
                <!-- <ion-checkbox slot="end" [(ngModel)]="item.ck_receive" (click)="addck(item,ck_date)" checked="item.ck_receive"></ion-checkbox> -->
                <!-- <ion-checkbox [(ngModel)]="myBooolean" (ionChange)="onMyBooleanChange()"></ion-checkbox>
              </ion-item>
            </ion-col>

            </ion-row>

          </ion-label>

    </ion-list> -->



    <!-- <ion-card-header>

    </ion-card-header>
    <ion-card-content>

    </ion-card-content> -->
  <!-- </ion-card>
   <ion-item >
    <ion-label>เลือกวันที่</ion-label>
    <ion-datetime id="dynamicDisabled" [(ngModel)]="ck_date"  display-format="MM DD YY"  value="1994-12-15" ></ion-datetime>
  </ion-item> -->


  <!-- <ion-item >
    <ion-label >วันที่</ion-label>
    <ion-input type="text" [(ngModel)]="ck_date" value="{{nbYear}}-{{nbMonth}}-{{nbDate}}" disabled></ion-input>
  </ion-item>
  <ion-card *ngFor="let item of setting2">
    <ion-list >
        <ion-item>
          <ion-label><b>{{item.student_name}} {{item.student_sname}}</b>  ชื่อเล่น: <b>{{item.student_nickname}}</b> </ion-label>
          <ion-checkbox slot="end"[(ngModel)]="ck_status" (ionChange)="onMyBooleanChange(ck_status)" ck_status="myBooolean" ></ion-checkbox>
        </ion-item>
    </ion-list>
  </ion-card> -->

  <!-- <ion-checkbox [(ngModel)]="myBooolean" (ionChange)="onMyBooleanChange()"></ion-checkbox> -->
<!-- </ion-card> -->
</ion-content>
